@font-face{

  font-family: 'Signika-Regular';

  src:  url('../font/Signika-Regular.ttf') format('truetype');

  font-weight: normal;

  font-style: normal;

}

@font-face{

  font-family: 'Signika-Light';

  src:  url('../font/Signika-Light.ttf') format('truetype');

  font-weight: 400;

  font-style: normal;

}
@font-face{

  font-family: 'Signika-SemiBold';

  src:  url('../font/Signika-SemiBold.ttf') format('truetype');

  font-weight: bold;

  font-style: normal;

}
@font-face{

  font-family: 'Ubuntu-Regular';

  src:  url('../font/Ubuntu-Regular.ttf') format('truetype');

  font-weight: 400;

  font-style: normal;

}
@font-face{

  font-family: 'Ubuntu-Medium';

  src:  url('../font/Ubuntu-Regular.ttf') format('truetype');

  font-weight: 900;

  font-style: normal;

}
@font-face{

  font-family: 'Ubuntu-Bold';

  src:  url('../font/Ubuntu-Bold.ttf') format('truetype');

  font-weight: 700;

  font-style: normal;

}

@font-face {

  font-family: 'Pacifico';

  src: url('../font/Pacifico.ttf') format('truetype');

  font-weight: 400;

  font-style: normal;
}