/***********************LEFT BAR****************************/
$text-step-by-step: #999;
$bg: #fff;
$back-color: #fff;
$back-bg-color: #cc3366;
$text-step-by-step: #999;
$text-under-search: #999;
$text-under-holder-color: #8f8f8f;
$text-discribe-color: #6699cc;
$price-color: #cc3366;
$product-copy-color: #3366cc;

.left-side{
  width: calc(100% - 390px);
  height: 1021px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 29px 2px rgba(0,0,0,0.36);
  -moz-box-shadow: 0 0 29px 2px rgba(0,0,0,0.36);
  box-shadow: 0 0 29px 2px rgba(0,0,0,0.36);
  @extend .bg;
}
.left-side{
  .top-left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: thin solid $text-step-by-step;
  }
  .left-side-header{
    display: flex;
    justify-content: center;
    font-family: Signika-Light, sans-serif;
    font-size: 40pt;
    color: $back-bg-color;
    margin-top: 40px;
  }
  /*holder .steps*/
  .pre-steps{
    display: flex;
    justify-content: center;
  }
  /*Show BACK & STEPS*/
  .steps{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 24px;
    margin: 15px 0;
    width: calc(100% - 64px);
  }
  .steps{

    /*Show button*/
    div:nth-child(1){
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Signika-SemiBold, sans-serif;
      width: 75px;
      height: 100%;
      background-color: $back-bg-color;
      color: $back-color;
      border-radius: 2px;
      text-transform: uppercase;
    }
    /*Link button*/
    div a{
      margin: 8px;
      color: $back-color;
    }
    /*Show page number */
    div:last-child{
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Signika-Light, sans-serif;
      width: 100%;
      color: $text-step-by-step;
      opacity: 0.8;
      font-size: 16pt;
      padding-right: 0;
    }
  }
  .text-under-search{
    color: $text-under-search;
    font-family: Ubuntu-Regular, sans-serif;
    font-size: 14pt;
    opacity: 0.8;
    line-height: normal;
    padding: 15px 32px 0 32px;
  }
  form{
    margin: 27px 0 30px 0;
    padding: 0 32px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .search{
    height: 48px;
    border-radius: 6px;
    width: 100%;
    font-size: 18pt;
    padding-left: 16px;
    font-family:Signika-Light, sans-serif;
    color: $text-under-search;
    -webkit-box-shadow: inset 0 1px 5px 0 #999;
    -moz-box-shadow: inset 0 1px 5px 0 #999;
    box-shadow: inset 0 1px 5px 0 #999;
    background: url("../images/backgrounds/bg-search.jpg") repeat;
  }
  /*icon magnifying*/
  form div{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: -60px;
    padding-right: 12px;
  }
}
.left-side-holder{
  display: flex;
  margin: 0 9px 0 32px;
  @extend .bg;
}
.left-side-holder{
  .article-holder{
    display: flex;
    width: 100%;
    height: 673px;
  }
  .article-holder{
    .article-holder-insider{
      display: flex;
      flex-flow: row wrap;
      width: inherit;
      height: 663px;
      margin-top: 10px;
      opacity: 0.8;
      overflow: auto;
    }
    .article-holder-insider{ /*show card of product*/
      .product-holder{
        display: flex;
        flex-direction: column;
        width: calc(33% - 2px);
        height: 235px;
      }
      .product-holder{
        .prod{
          margin: 12px auto;
          width: 160px;
          height: 160px;
          border: 12px solid #fff;
          -webkit-box-shadow: 0 2px 9px 1px rgba(0,0,0,0.75);
          -moz-box-shadow: 0 2px 9px 1px rgba(0,0,0,0.75);
          box-shadow: 0 2px 9px 1px rgba(0,0,0,0.75);
        }
        .product {
          @extend .prod;
          //background-image: url("../files/02/02.png");
          background-size: contain;
        }
        .product:active{
          @extend .prod;

        }
        span{
          font-family: "Times New Roman", sans-serif;
          font-size: 14px;
          padding: 0 12px;
        }
        span:nth-child(2){
          color: $text-discribe-color;
        }
        span:nth-child(3){
          color: $price-color;
          margin-top: 7px;
        }
        &:hover{
          -webkit-box-shadow: 1px 1px 1px 1px #999;
          -moz-box-shadow: 1px 1px 1px 1px #999;
          box-shadow: 1px 1px 1px 1px #999;
          border-radius: 3px;
        }
      } /*.product-holder*/

      .product-copy{
        display: none;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .product-copy > span{
        font-family: "Signika-Regular", sans-serif;
        font-size: 12pt;
        color: $product-copy-color;
        text-align: center;
      }
    } /*.article-holder-insider*/
  } /* .article-holder*/
}

.text-after-holder{
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 24px;
  background-color: #fff;
  font-family: Ubuntu-Regular, sans-serif;
  font-size: 12pt;
  color: $text-under-holder-color;
}